body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1216px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12125 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u12126 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12127 {
  position:absolute;
  left:14px;
  top:16px;
  width:54px;
  height:28px;
}
#u12128 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u12129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:620px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12129 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:620px;
}
#u12130 {
  position:absolute;
  left:2px;
  top:302px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12131_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1043px;
  height:5px;
}
#u12131 {
  position:absolute;
  left:160px;
  top:93px;
  width:1040px;
  height:2px;
}
#u12132 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:67px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12133 {
  position:absolute;
  left:160px;
  top:103px;
  width:1040px;
  height:67px;
}
#u12134 {
  position:absolute;
  left:2px;
  top:26px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12135 {
  position:absolute;
  left:5px;
  top:74px;
  width:113px;
  height:265px;
}
#u12135_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12136 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:20px;
  font-size:12px;
}
#u12137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12137 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12137_img.selected {
}
#u12137.selected {
}
#u12138 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12139 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u12140 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u12136_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12141 {
  position:absolute;
  left:20px;
  top:20px;
  width:88px;
  height:20px;
  font-size:12px;
}
#u12142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12142 {
  position:absolute;
  left:22px;
  top:0px;
  width:66px;
  height:20px;
}
#u12143 {
  position:absolute;
  left:3px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
#u12144 {
  position:absolute;
  left:0px;
  top:40px;
  width:76px;
  height:20px;
  font-size:12px;
}
#u12145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12145 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12145_img.selected {
}
#u12145.selected {
}
#u12146 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12147 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u12148 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u12144_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12149 {
  position:absolute;
  left:20px;
  top:20px;
  width:76px;
  height:20px;
  font-size:12px;
}
#u12150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12150 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u12151 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u12152 {
  position:absolute;
  left:20px;
  top:40px;
  width:76px;
  height:20px;
  font-size:12px;
}
#u12153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12153 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u12154 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u12155 {
  position:absolute;
  left:0px;
  top:100px;
  width:76px;
  height:20px;
  font-size:12px;
}
#u12156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12156 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12156_img.selected {
}
#u12156.selected {
}
#u12157 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12158 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u12159 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u12155_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12160 {
  position:absolute;
  left:20px;
  top:20px;
  width:76px;
  height:20px;
  font-size:12px;
}
#u12161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12161 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u12162 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u12163 {
  position:absolute;
  left:0px;
  top:140px;
  width:76px;
  height:20px;
  font-size:12px;
}
#u12164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12164 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12164_img.selected {
}
#u12164.selected {
}
#u12165 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12166 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u12167 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u12163_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12168 {
  position:absolute;
  left:20px;
  top:20px;
  width:76px;
  height:20px;
  font-size:12px;
}
#u12169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12169 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u12170 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u12171 {
  position:absolute;
  left:0px;
  top:180px;
  width:85px;
  height:20px;
  font-size:12px;
}
#u12172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12172 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12172_img.selected {
}
#u12172.selected {
}
#u12173 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12174 {
  position:absolute;
  left:22px;
  top:0px;
  width:63px;
  height:20px;
}
#u12175 {
  position:absolute;
  left:3px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u12171_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12176 {
  position:absolute;
  left:20px;
  top:20px;
  width:85px;
  height:20px;
  font-size:12px;
}
#u12177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12177 {
  position:absolute;
  left:22px;
  top:0px;
  width:63px;
  height:20px;
}
#u12178 {
  position:absolute;
  left:3px;
  top:2px;
  width:58px;
  white-space:nowrap;
}
#u12179 {
  position:absolute;
  left:0px;
  top:220px;
  width:76px;
  height:20px;
  font-size:12px;
}
#u12180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u12180 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u12180_img.selected {
}
#u12180.selected {
}
#u12181 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12182 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u12183 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u12179_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12184 {
  position:absolute;
  left:20px;
  top:20px;
  width:76px;
  height:20px;
  font-size:12px;
}
#u12185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12185 {
  position:absolute;
  left:22px;
  top:0px;
  width:54px;
  height:20px;
}
#u12186 {
  position:absolute;
  left:3px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u12187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000FF;
}
#u12187 {
  position:absolute;
  left:1159px;
  top:23px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#0000FF;
}
#u12188 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000FF;
}
#u12189 {
  position:absolute;
  left:1121px;
  top:23px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#0000FF;
}
#u12190 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12191 {
  position:absolute;
  left:1073px;
  top:23px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u12192 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12193 {
  position:absolute;
  left:115px;
  top:20px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12194 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12195 {
  position:absolute;
  left:212px;
  top:20px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12196 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12197 {
  position:absolute;
  left:309px;
  top:20px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12198 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12199 {
  position:absolute;
  left:503px;
  top:20px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12200 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12201 {
  position:absolute;
  left:406px;
  top:20px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12202 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12203 {
  position:absolute;
  left:160px;
  top:70px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12204 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:308px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12205 {
  position:absolute;
  left:160px;
  top:280px;
  width:343px;
  height:308px;
}
#u12206 {
  position:absolute;
  left:2px;
  top:146px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12207 {
  position:absolute;
  left:160px;
  top:280px;
  width:343px;
  height:35px;
}
#u12208 {
  position:absolute;
  left:2px;
  top:10px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12209 {
  position:absolute;
  left:160px;
  top:553px;
  width:343px;
  height:35px;
}
#u12210 {
  position:absolute;
  left:2px;
  top:10px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12211 {
  position:absolute;
  left:275px;
  top:558px;
  width:50px;
  height:25px;
  font-size:12px;
}
#u12212 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u12213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12213 {
  position:absolute;
  left:339px;
  top:558px;
  width:50px;
  height:25px;
  font-size:12px;
}
#u12214 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u12215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12215 {
  position:absolute;
  left:170px;
  top:290px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12216 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u12217 {
  position:absolute;
  left:468px;
  top:288px;
  width:20px;
  height:20px;
}
#u12218 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12219 {
  position:absolute;
  left:283px;
  top:323px;
  width:140px;
  height:25px;
}
#u12219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12219_input {
  font-family:'Microsoft YaHei UI';
}
#u12220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12220 {
  position:absolute;
  left:204px;
  top:326px;
  width:66px;
  height:19px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12221 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12222 {
  position:absolute;
  left:204px;
  top:363px;
  width:66px;
  height:19px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12223 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12224 {
  position:absolute;
  left:626px;
  top:109px;
  width:50px;
  height:25px;
  font-size:12px;
}
#u12225 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u12226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12226 {
  position:absolute;
  left:506px;
  top:109px;
  width:50px;
  height:25px;
  font-size:12px;
}
#u12227 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u12228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12228 {
  position:absolute;
  left:566px;
  top:109px;
  width:50px;
  height:25px;
  font-size:12px;
}
#u12229 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u12230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12230 {
  position:absolute;
  left:686px;
  top:109px;
  width:50px;
  height:25px;
  font-size:12px;
}
#u12231 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u12232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12232 {
  position:absolute;
  left:746px;
  top:109px;
  width:50px;
  height:25px;
  font-size:12px;
}
#u12233 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u12234 {
  position:absolute;
  left:160px;
  top:180px;
  width:1061px;
  height:95px;
}
#u12235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12235 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  text-align:center;
}
#u12236 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u12237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12237 {
  position:absolute;
  left:50px;
  top:0px;
  width:50px;
  height:30px;
  text-align:center;
}
#u12238 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u12239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12239 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12240 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12241 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12242 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12243 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12244 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12245 {
  position:absolute;
  left:400px;
  top:0px;
  width:89px;
  height:30px;
  text-align:center;
}
#u12246 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u12247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12247 {
  position:absolute;
  left:489px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12248 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12249 {
  position:absolute;
  left:589px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12250 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12251 {
  position:absolute;
  left:689px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12252 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12253 {
  position:absolute;
  left:789px;
  top:0px;
  width:89px;
  height:30px;
  text-align:center;
}
#u12254 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u12255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12255 {
  position:absolute;
  left:878px;
  top:0px;
  width:89px;
  height:30px;
  text-align:center;
}
#u12256 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u12257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12257 {
  position:absolute;
  left:967px;
  top:0px;
  width:89px;
  height:30px;
  text-align:center;
}
#u12258 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u12259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12259 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
  text-align:center;
}
#u12260 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12261 {
  position:absolute;
  left:50px;
  top:30px;
  width:50px;
  height:30px;
  text-align:center;
}
#u12262 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12263 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12264 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12265 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12266 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12267 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12268 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12269 {
  position:absolute;
  left:400px;
  top:30px;
  width:89px;
  height:30px;
  text-align:center;
}
#u12270 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12271 {
  position:absolute;
  left:489px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12272 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12273 {
  position:absolute;
  left:589px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12274 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12275 {
  position:absolute;
  left:689px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12276 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12277 {
  position:absolute;
  left:789px;
  top:30px;
  width:89px;
  height:30px;
  text-align:center;
}
#u12278 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12279 {
  position:absolute;
  left:878px;
  top:30px;
  width:89px;
  height:30px;
  text-align:center;
}
#u12280 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12281 {
  position:absolute;
  left:967px;
  top:30px;
  width:89px;
  height:30px;
  text-align:center;
}
#u12282 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12283 {
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
  text-align:center;
}
#u12284 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12285 {
  position:absolute;
  left:50px;
  top:60px;
  width:50px;
  height:30px;
  text-align:center;
}
#u12286 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12287 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12288 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12289 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12290 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12291 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12292 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12293 {
  position:absolute;
  left:400px;
  top:60px;
  width:89px;
  height:30px;
  text-align:center;
}
#u12294 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12295 {
  position:absolute;
  left:489px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12296 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12297 {
  position:absolute;
  left:589px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12298 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u12299 {
  position:absolute;
  left:689px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12300 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12301 {
  position:absolute;
  left:789px;
  top:60px;
  width:89px;
  height:30px;
  text-align:center;
}
#u12302 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12303 {
  position:absolute;
  left:878px;
  top:60px;
  width:89px;
  height:30px;
  text-align:center;
}
#u12304 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12305_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u12305 {
  position:absolute;
  left:967px;
  top:60px;
  width:89px;
  height:30px;
  text-align:center;
}
#u12306 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u12307 {
  position:absolute;
  left:168px;
  top:115px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u12308 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12309 {
  position:absolute;
  left:227px;
  top:110px;
  width:100px;
  height:25px;
}
#u12309_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12309_input {
  font-family:'Microsoft YaHei UI';
}
#u12309_input:disabled {
  color:grayText;
}
#u12310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u12310 {
  position:absolute;
  left:337px;
  top:115px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u12311 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12312 {
  position:absolute;
  left:396px;
  top:110px;
  width:100px;
  height:25px;
}
#u12312_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12312_input {
  font-family:'Microsoft YaHei UI';
}
#u12313 {
  position:absolute;
  left:283px;
  top:360px;
  width:140px;
  height:25px;
}
#u12313_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12313_input {
  font-family:'Microsoft YaHei UI';
}
#u12314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12314 {
  position:absolute;
  left:230px;
  top:470px;
  width:40px;
  height:19px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12315 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u12316 {
  position:absolute;
  left:283px;
  top:470px;
  width:140px;
  height:25px;
}
#u12316_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12316_input {
  font-family:'Microsoft YaHei UI';
}
#u12317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12317 {
  position:absolute;
  left:217px;
  top:400px;
  width:53px;
  height:19px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12318 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12319 {
  position:absolute;
  left:283px;
  top:398px;
  width:140px;
  height:25px;
}
#u12319_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12319_input {
  font-family:'Microsoft YaHei UI';
}
#u12320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12320 {
  position:absolute;
  left:204px;
  top:436px;
  width:66px;
  height:19px;
  font-family:'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12321 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12322 {
  position:absolute;
  left:283px;
  top:435px;
  width:140px;
  height:25px;
}
#u12322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12322_input {
  font-family:'Microsoft YaHei UI';
}
