body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13570 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
}
#u13571 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
}
#u13572 {
  position:absolute;
  left:14px;
  top:15px;
  width:57px;
  height:31px;
  font-family:'Microsoft YaHei UI Bold', 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
  font-weight:700;
  font-style:normal;
}
#u13573 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:620px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13574 {
  position:absolute;
  left:0px;
  top:60px;
  width:150px;
  height:620px;
}
#u13575 {
  position:absolute;
  left:2px;
  top:302px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13576 {
  position:absolute;
  left:5px;
  top:74px;
  width:114px;
  height:45px;
}
#u13576_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13577 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u13578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u13578 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u13578_img.selected {
}
#u13578.selected {
}
#u13579 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13580_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13580 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u13581 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u13577_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13582 {
  position:absolute;
  left:20px;
  top:20px;
  width:89px;
  height:20px;
}
#u13583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13583 {
  position:absolute;
  left:22px;
  top:0px;
  width:67px;
  height:20px;
}
#u13584 {
  position:absolute;
  left:3px;
  top:2px;
  width:62px;
  white-space:nowrap;
}
#u13585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000FF;
}
#u13585 {
  position:absolute;
  left:1159px;
  top:23px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#0000FF;
}
#u13586 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000FF;
}
#u13587 {
  position:absolute;
  left:1121px;
  top:23px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#0000FF;
}
#u13588 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13589_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1043px;
  height:5px;
}
#u13589 {
  position:absolute;
  left:160px;
  top:93px;
  width:1040px;
  height:2px;
}
#u13590 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:67px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13591 {
  position:absolute;
  left:160px;
  top:103px;
  width:1040px;
  height:67px;
}
#u13592 {
  position:absolute;
  left:2px;
  top:26px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13593 {
  position:absolute;
  left:1073px;
  top:23px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u13594 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u13595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13595 {
  position:absolute;
  left:115px;
  top:20px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13596 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13597 {
  position:absolute;
  left:212px;
  top:20px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13598 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13599 {
  position:absolute;
  left:309px;
  top:20px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13600 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13601 {
  position:absolute;
  left:503px;
  top:20px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13602 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13603 {
  position:absolute;
  left:406px;
  top:20px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13604 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13605 {
  position:absolute;
  left:160px;
  top:70px;
  width:108px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13606 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u13607 {
  position:absolute;
  left:160px;
  top:180px;
  width:977px;
  height:105px;
}
#u13608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u13608 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  text-align:center;
}
#u13609 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u13610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u13610 {
  position:absolute;
  left:50px;
  top:0px;
  width:150px;
  height:30px;
  text-align:center;
}
#u13611 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u13612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u13612 {
  position:absolute;
  left:200px;
  top:0px;
  width:103px;
  height:30px;
  text-align:center;
}
#u13613 {
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u13614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13614 {
  position:absolute;
  left:303px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u13615 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13616 {
  position:absolute;
  left:403px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u13617 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u13618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u13618 {
  position:absolute;
  left:503px;
  top:0px;
  width:104px;
  height:30px;
  text-align:center;
}
#u13619 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u13620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u13620 {
  position:absolute;
  left:607px;
  top:0px;
  width:104px;
  height:30px;
  text-align:center;
}
#u13621 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u13622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:30px;
}
#u13622 {
  position:absolute;
  left:711px;
  top:0px;
  width:111px;
  height:30px;
  text-align:center;
}
#u13623 {
  position:absolute;
  left:2px;
  top:7px;
  width:107px;
  word-wrap:break-word;
}
#u13624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u13624 {
  position:absolute;
  left:822px;
  top:0px;
  width:150px;
  height:30px;
  text-align:center;
}
#u13625 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u13626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u13626 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:35px;
  text-align:center;
}
#u13627 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u13628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u13628 {
  position:absolute;
  left:50px;
  top:30px;
  width:150px;
  height:35px;
  text-align:center;
}
#u13629 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u13630_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u13630 {
  position:absolute;
  left:200px;
  top:30px;
  width:103px;
  height:35px;
  text-align:center;
}
#u13631 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u13632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u13632 {
  position:absolute;
  left:303px;
  top:30px;
  width:100px;
  height:35px;
  text-align:center;
}
#u13633 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u13634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u13634 {
  position:absolute;
  left:403px;
  top:30px;
  width:100px;
  height:35px;
  text-align:center;
}
#u13635 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u13636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:35px;
}
#u13636 {
  position:absolute;
  left:503px;
  top:30px;
  width:104px;
  height:35px;
  color:#0000FF;
  text-align:center;
}
#u13637 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u13638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:35px;
}
#u13638 {
  position:absolute;
  left:607px;
  top:30px;
  width:104px;
  height:35px;
  text-align:center;
}
#u13639 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u13640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u13640 {
  position:absolute;
  left:711px;
  top:30px;
  width:111px;
  height:35px;
  color:#1E1E1E;
  text-align:center;
}
#u13641 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u13642 {
  position:absolute;
  left:822px;
  top:30px;
  width:150px;
  height:35px;
  color:#1E1E1E;
  text-align:center;
}
#u13643 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:35px;
}
#u13644 {
  position:absolute;
  left:0px;
  top:65px;
  width:50px;
  height:35px;
  text-align:center;
}
#u13645 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u13646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u13646 {
  position:absolute;
  left:50px;
  top:65px;
  width:150px;
  height:35px;
  text-align:center;
}
#u13647 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u13648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:35px;
}
#u13648 {
  position:absolute;
  left:200px;
  top:65px;
  width:103px;
  height:35px;
  text-align:center;
}
#u13649 {
  position:absolute;
  left:2px;
  top:10px;
  width:99px;
  word-wrap:break-word;
}
#u13650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u13650 {
  position:absolute;
  left:303px;
  top:65px;
  width:100px;
  height:35px;
  text-align:center;
}
#u13651 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u13652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u13652 {
  position:absolute;
  left:403px;
  top:65px;
  width:100px;
  height:35px;
  text-align:center;
}
#u13653 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u13654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:35px;
}
#u13654 {
  position:absolute;
  left:503px;
  top:65px;
  width:104px;
  height:35px;
  color:#0000FF;
  text-align:center;
}
#u13655 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u13656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:35px;
}
#u13656 {
  position:absolute;
  left:607px;
  top:65px;
  width:104px;
  height:35px;
  text-align:center;
}
#u13657 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u13658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:35px;
}
#u13658 {
  position:absolute;
  left:711px;
  top:65px;
  width:111px;
  height:35px;
  text-align:center;
}
#u13659 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u13660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u13660 {
  position:absolute;
  left:822px;
  top:65px;
  width:150px;
  height:35px;
  text-align:center;
}
#u13661 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u13662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13662 {
  position:absolute;
  left:653px;
  top:109px;
  width:50px;
  height:25px;
  font-size:12px;
}
#u13663 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u13664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13664 {
  position:absolute;
  left:713px;
  top:109px;
  width:50px;
  height:25px;
  font-size:12px;
}
#u13665 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u13666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13666 {
  position:absolute;
  left:170px;
  top:139px;
  width:71px;
  height:25px;
  font-size:12px;
}
#u13667 {
  position:absolute;
  left:2px;
  top:5px;
  width:67px;
  word-wrap:break-word;
}
#u13668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u13668 {
  position:absolute;
  left:170px;
  top:114px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u13669 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13670 {
  position:absolute;
  left:229px;
  top:109px;
  width:100px;
  height:25px;
}
#u13670_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13670_input {
  font-family:'Microsoft YaHei UI';
}
#u13670_input:disabled {
  color:grayText;
}
#u13671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u13671 {
  position:absolute;
  left:339px;
  top:114px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u13672 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13673 {
  position:absolute;
  left:398px;
  top:109px;
  width:100px;
  height:25px;
}
#u13673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13673_input {
  font-family:'Microsoft YaHei UI';
}
#u13674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:284px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13674 {
  position:absolute;
  left:160px;
  top:294px;
  width:300px;
  height:284px;
}
#u13675 {
  position:absolute;
  left:2px;
  top:134px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13676 {
  position:absolute;
  left:160px;
  top:294px;
  width:300px;
  height:35px;
}
#u13677 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13678 {
  position:absolute;
  left:160px;
  top:543px;
  width:300px;
  height:35px;
}
#u13679 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13680 {
  position:absolute;
  left:259px;
  top:548px;
  width:50px;
  height:25px;
  font-size:12px;
}
#u13681 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u13682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13682 {
  position:absolute;
  left:323px;
  top:548px;
  width:50px;
  height:25px;
  font-size:12px;
}
#u13683 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u13684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13684 {
  position:absolute;
  left:170px;
  top:304px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u13685 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u13686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u13686 {
  position:absolute;
  left:433px;
  top:302px;
  width:20px;
  height:20px;
}
#u13687 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u13688 {
  position:absolute;
  left:199px;
  top:348px;
  width:66px;
  height:19px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u13689 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u13690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u13690 {
  position:absolute;
  left:199px;
  top:435px;
  width:66px;
  height:19px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u13691 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u13692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u13692 {
  position:absolute;
  left:198px;
  top:479px;
  width:66px;
  height:19px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u13693 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u13694 {
  position:absolute;
  left:274px;
  top:476px;
  width:140px;
  height:25px;
}
#u13694_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13694_input {
  font-family:'Microsoft YaHei UI';
}
#u13695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13695 {
  position:absolute;
  left:275px;
  top:348px;
  width:105px;
  height:16px;
}
#u13696 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u13697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13697 {
  position:absolute;
  left:275px;
  top:435px;
  width:71px;
  height:19px;
}
#u13698 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u13699 {
  position:absolute;
  left:225px;
  top:393px;
  width:40px;
  height:19px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u13700 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u13701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13701 {
  position:absolute;
  left:275px;
  top:393px;
  width:28px;
  height:16px;
}
#u13702 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u13703 {
  position:absolute;
  left:543px;
  top:109px;
  width:100px;
  height:25px;
}
#u13703_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13703_input {
  font-family:'Microsoft YaHei UI';
}
#u13703_input:disabled {
  color:grayText;
}
#u13704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u13704 {
  position:absolute;
  left:508px;
  top:114px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u13705 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
