body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u65 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u66 {
  position:absolute;
  left:27px;
  top:107px;
  width:375px;
  height:668px;
}
#u67 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:27px;
  top:129px;
  width:72px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u69 {
  position:absolute;
  left:27px;
  top:107px;
  width:375px;
  height:668px;
}
#u70 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:27px;
  top:129px;
  width:72px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
